:root.theme-light {
    --accent-color: var(#ff8dcb);
    --title-color: var(#ffc2e6);
    --page-bg-color: var(#f1f7ff);
    --header-text-bg-color: var(#ff8dcb);
    --header-text-color: var(#353430);
    --question-bg-color:  var(#f1f7ff);
    --question-color:  var(#353430);
    --answer-title-bg-color: var(#ff8dcb);
    --answer-title-color: var(#353430);
    --answer-text-bg-color: var(#f1f7ff);
    --answer-text-color: var(#353430);
    --advice-title-bg-color:  var(#ff8dcb) ;
    --advice-title-color: var(#353430);
    --button-color: var(#353430);
    --border-color-opacity: var(#32312d66);
    --background-image:  url("../images/cover-image-light.png");
    --deco-color: var(#353430);
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: var(#ff8dcb);
        --title-color: var(#ffc2e6);
        --page-bg-color: var(#f1f7ff);
        --header-text-bg-color: var(#ff8dcb);
        --header-text-color: var(#353430);
        --question-bg-color:  var(#f1f7ff);
        --question-color:  var(#353430);
        --answer-title-bg-color: var(#ff8dcb);
        --answer-title-color: var(#353430);
        --answer-text-bg-color: var(#f1f7ff);
        --answer-text-color: var(#353430);
        --advice-title-bg-color:  var(#ff8dcb) ;
        --advice-title-color: var(#353430);
        --button-color: var(#353430);
        --border-color-opacity: var(#32312d66);
        --background-image:  url("../images/cover-image-light.png");
        --deco-color: var(#353430);
    }
}

.theme-light .rec_empty::before {
    display: none;
}

.theme-light .rec_empty::after {
    display: none;
}